{var $title = 'Makro controlblock', $menu = 'macros'}
{block content}
    <h1>Makro {l}controlblock{r}</h1>

    <p>Ukázka použití:</p>
    <pre>{syntax double}{controlblock gallery "Galerie"}
    http://lorempixel.com/image_output/nature-q-c-300-200-1.jpg
    http://lorempixel.com/image_output/nature-q-c-300-200-2.jpg
    http://lorempixel.com/image_output/nature-q-c-300-200-3.jpg
{/controlblock}{{/syntax}}</pre>
    <p>Obsah bloku se předává jako první parametr při volání metody <code>render($images, $name)</code>.</p>
    <p>Výsledkem může být třeba <a href="http://getbootstrap.com/javascript/#carousel">carousel</a>:</p>
    {controlblock gallery "Galerie"}
        http://lorempixel.com/image_output/nature-q-c-300-200-1.jpg
        http://lorempixel.com/image_output/nature-q-c-300-200-2.jpg
        http://lorempixel.com/image_output/nature-q-c-300-200-3.jpg
    {/controlblock}
{/block}