<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{ifset $title}{$title} | {/ifset}TemplateDemo</title>
    <style>
        h1 { text-align: center; }
        .portfolio { margin: 2em; padding: 2em; background-color: #ccc; }
    </style>
</head>
<body>
{includeblock '../_menu.latte'}
<h1>Portfolio template{ifset $title} - {$title}{/ifset}</h1>
<div class="portfolio">
    {include content}
</div>
</body>
</html>