{var $title = 'Portfolio', $menu = 'portfolio'}
{layout '../@layout.latte'}
{block content}
    <ul>
        <li><a href="first">first</a></li>
        <li><a href="second">second</a></li>
    </ul>
{/block}
